.container {
  margin-top: 50px;
  width: 100%;
  height: auto;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
}

/* Aside styles */

aside {
  float: left;
  width: 20%;
}

aside form input[type="text"] {
  width: 70%;
}

ul {
  list-style: none;
}

ul li {
  display: block;
  margin: 5px auto;
}

ul li a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

ul li a:hover,
.link-selected {
  font-weight: 900;
  text-decoration: underline;
}

/* Section styles */
section {
  padding-left: 10px;
  float: right;
  width: 80%;
  border-left: 1px solid #333;
}

img,
video {
  float: left;
  margin-right: 10px;
  width: 250px;
  height: auto;
}
