.container {
  margin-top: 50px;
  width: 100%;
  height: auto;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
}

/* Aside styles */

aside {
  float: left;
  width: 20%;
}

aside form input[type="text"] {
  width: 70%;
}

/* Section styles */
section {
  padding-left: 10px;
  float: right;
  width: 80%;
  border-left: 1px solid #333;
}
