* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styles */
header {
  min-width: 100vw;
  width: 100%;
  background: linear-gradient(to right, rgb(173, 255, 251), rgb(0, 217, 255));
  padding: 20px;
}

header h1 {
  text-align: center;
  font-size: 54px;
}

main {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 510px;
  width: 100%;
  height: auto;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  width: 100%;
  background: linear-gradient(to right, rgb(51, 64, 63), rgb(3, 35, 41));
  padding: 20px;
}

footer h2 {
  color: white;
  text-align: center;
  font-size: 32px;
}
